/* * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  } */

  /* Falar para o professor como resolver a ocupação da página com a estilização abaixo */
html,
body {
  /* com a estilização do html e do body logo abaixo, conseguimos dizer a pagina que ela deve ocupar todo o espaço disponível */
  height: 100%;
}

/* HEADER */
header{
    background-color: #ffb90f;
    width: 100%;
    height: 15%;/*  */
    margin-top: 70px;
    position: relative;
}



header nav img{
    position: absolute;
    width: 200px;
    margin-top: -65px;
   
}

header nav ul{
    list-style-type: none;  
    display: inline-block; 
    margin-left: 160px;
    /* height: 60px; *//*  */
}

header nav ul li{
    /* list-style-type: none; */ /*  */ 
    display: inline-block; 
    padding: 15px 0 0 50px;/*  */

    
}

/* Dessa parte em diante foi feito na aula13.
PS.: as partes acima que tiverem marcação também foram feitas na aula13
*/

header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

header nav, header form{
    display: inline-block;
}

header form{
    margin-left: 400px;
}