/* 
Pseudo seletor nos permite controlar eventos especiais de um elemento.
Geralmente são aplicados sobre um seletor já existente.
*/

/* :HOVER
    Só é visível quando o cursor do mouse passa sobre ele. Isso não funciona em dispositivos móveis.
*/

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}

/* :FOCUS 
    Altera o aspecto visual de um elemento que esteja em foco. Quando clicamos no campo ou enviamos o foco para ele apertando TAB
*/

input{
    background-color: aquamarine;
}

input:focus{
    border-color: green;
    width: 400px;
}

/* :NTH-CHILD 
    Nos permite definir qual dos elementos irmãos queremos aplicar um conjunto de regras. O selecionamos com um valor numérico. Também com as palavras odd e even podemos selecionar elementos ímpares ou pares respectivamente.
    Ele só se aplica aos elementos que estiverem na posição definida entre parenteses
*/

p{
    color: blue;
}

p:nth-child(4){
    color: white;
    background-color: orange;
}


/* Outras formas */

p:first-child{
    background-color: blue;
}