.header, .section-one, .section-two, .section-three, .footer{
    height: 150px;
    margin-bottom: 15px;
}

.header{
    background-color: aquamarine;
}

.section-one{
    background-color: blueviolet;
}

.section-two{
    background-color: salmon;
}

.section-three{
    background-color: sandybrown;
}

.footer{
    background-color: aquamarine;
}


/* Desafio: alterar a cor das section a partir da alteração das cols */
@media(max-width:760px){
    .section-one{
        background-color: blue;
    }
    .section-two{
        background-color: gray;
    }
    .section-three{
        background-color: green;
    }
}
