div{
    border: 3px solid gray;
    padding: 30px;
    margin: 30px;
}

header, main, footer{
    border: 3px solid gray;
    padding: 30px;
    margin: 30px;
}

section{
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

article{
    padding: 20px;
    margin: 20px 0;
    background-color: #ffa600ad;
}

span{
    background-color: aqua;
}

/* Aula Floats */

/* O elemento pai sempre deve ter overflow: hidden para obedecer a flutuacao dos filhos */
section.noticias{
    overflow: hidden;
}

article{
    float: left;
    width: 30%;
}